html
  head
    title Hello Riot.
  body
    //- !-- place the custom tag anywhere inside the body --
    app
    //- !-- include the tag --
    script(type="riot/tag" src="app.pug")
    //- !-- include riot.js --
    //- script(src="https://cdn.jsdelivr.net/npm/riot@3.9/riot+compiler.min.js")
    
    script(src="https://cdn.jsdelivr.net/npm/riot-compiler@3.4.0/lib/compiler.min.js")
    //- !-- mount the tag --
    script riot.mount('app')